body {
  background-color: lightgray;
}

.combatInfoContainer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.combatInfo {
  width: 300px;
  min-height: 300px;
  padding: 20px;
  border: 1px solid black;
}

.charactersContainer {
  width: 90%;
  margin-top: 50px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
.character {
  width: 350px;
  min-height: 300px;
  padding: 20px;
  border: 1px solid black;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0;
}
.item {
  border: 1px solid black;
}
